<div>
  <div class="free-car-content">
    <div class="left-content">
      <div class="free-car-text">免费专车接送看房</div>
      <div class="tel-content">
        <i class="iconfont icon-icon_Phone" style="color: #0a86cd;margin-right: 5px;"></i>
        <span class="kf-tel">{{houseInfo.houseTel}}</span>
      </div>
    </div>
    <div class="right-content">
      <button class="" nz-button nzType="primary" [nzSize]="'small'" (click)="addSubPc()" style="background: #0891D3;color: white;border: none;">立即领取</button>
    </div>
  </div>
</div>
