<div class="house-base-info">
  <div class="left-content">
    <ul class="base-info-list">
      <li class="base-info-item">
        <span class="item-left">核心卖点</span>
        <span class="item-right">{{houseInfo.houseType}}</span>
      </li>
      <li class="base-info-item">
        <span class="item-left">销售状态</span>
        <span class="item-right">{{houseInfo.salesStatus}}</span>
      </li>
      <li class="base-info-item">
        <span class="item-left">楼盘价格</span>
        <span class="item-right">{{houseInfo.price}}</span>
      </li>
      <li class="base-info-item">
        <span class="item-left">户型面积</span>
        <span class="item-right">{{houseInfo.area}}</span>
      </li>
      <li class="base-info-item">
        <span class="item-left">装修状况</span>
        <span class="item-right">{{houseInfo.renovation}}</span>
      </li>
    </ul>
  </div>
  <div class="right-content">
    <ul class="base-info-list">
      <li class="base-info-item">
        <span class="item-left">楼盘地址</span>
        <span class="item-right">{{houseInfo.address}}</span>
      </li>
      <li class="base-info-item">
        <span class="item-left">预约电话</span>
        <span class="item-right">{{houseInfo.houseTel}}</span>
      </li>
      <li class="base-info-item">
        <span class="item-left">楼盘类型</span>
        <span class="item-right">{{houseInfo.buildingType}}</span>
      </li>
      <li class="base-info-item">
        <span class="item-left">产权年限</span>
        <span class="item-right">暂无详细数据</span>
      </li>
    </ul>
  </div>
</div>
