<section class="house-detail-info">
  <div class="house-detail-title">
    <div class="house-name">{{houseInfo?.houseName}}</div>
    <nz-tag  class="house-statu" [nzChecked]="true">{{houseInfo.salesStatus}}</nz-tag>
    <div class="house-tel">
      <nz-radio-group [(ngModel)]="size">
        <label class="watch-house-btn" nz-radio-button nzValue="large" >预约看房</label>
      </nz-radio-group>
      <div class="tel-content">
        <i class="iconfont icon-icon_Phone" style="color: #0a86cd;margin-right: 5px;"></i>
        <span class="kf-tel">{{houseInfo.houseTel}}</span>
      </div>
    </div>
  </div>
  <div class="house-detail-content">
    <app-house-title [houseInfo]="houseInfo"></app-house-title>
    <div class="detail-title">
      <app-house-imgs [houseInfo]="houseInfo"></app-house-imgs>
      <app-house-right-info (addSb)="showModel()" [houseInfo]="houseInfo"></app-house-right-info>
    </div>

    <app-house-detail-nav></app-house-detail-nav>
    <app-house-title-item [titleId]="'house-type-content'" [titleName]="'楼盘户型'" *ngIf="houseInfo.type?.length > 0"></app-house-title-item>
    <div class="house-type-infos">
      <app-house-type-com *ngFor="let item of houseInfo.type" [typeInfo]="item"></app-house-type-com>
    </div>
    <app-house-title-item [titleId]="'house-base-info'" [titleName]="'楼盘基础信息'"></app-house-title-item>
    <app-house-base-info [houseInfo]="houseInfo"></app-house-base-info>

    <app-house-title-item [titleId]="'house-advatage-info'" [titleName]="'楼盘优势'"></app-house-title-item>
    <app-house-advantage-info [houseInfo]="houseInfo"></app-house-advantage-info>

    <app-house-title-item [titleId]="'area-other-info'" [titleName]="'周边配套'"></app-house-title-item>
    <app-hous-other-area [houseInfo]="houseInfo"></app-hous-other-area>

    <app-house-title-item [titleId]="'guess-your-like'" [titleName]="'猜你喜欢'"></app-house-title-item>

    <app-swiper-content [houseList]="houseList"></app-swiper-content>
  </div>




  <nz-modal [(nzVisible)]="isVisible" nzWrapClassName="vertical-center-modal" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <p>Content one</p>
    <p>Content two</p>
    <p>Content three</p>
  </nz-modal>
</section>
