<section class="house-detail-info">
  <div class="house-detail-title">
    <div class="house-name">{{houseInfo?.houseName}}</div>
    <nz-tag  class="house-statu" [nzChecked]="true">{{houseInfo.salesStatus}}</nz-tag>
    <div class="house-tel">
      <nz-radio-group [(ngModel)]="size">
        <label class="watch-house-btn" nz-radio-button nzValue="large" >预约看房</label>
      </nz-radio-group>
      <div class="tel-content">
        <i class="iconfont icon-icon_Phone" style="color: #0a86cd;margin-right: 5px;"></i>
        <span class="kf-tel">{{houseInfo.houseTel}}</span>
      </div>
    </div>
  </div>
  <div class="house-detail-content">
    <app-house-title [houseInfo]="houseInfo"></app-house-title>
    <div class="detail-title">
      <app-house-imgs [houseInfo]="houseInfo"></app-house-imgs>
      <app-house-right-info (addSb)="showModel($event)" [houseInfo]="houseInfo"></app-house-right-info>
    </div>

    <app-house-detail-nav></app-house-detail-nav>
    <app-house-title-item [titleId]="'house-type-content'" [titleName]="'楼盘户型'" *ngIf="houseInfo.type?.length > 0"></app-house-title-item>
    <div class="house-type-infos">
      <app-house-type-com *ngFor="let item of houseInfo.type" [typeInfo]="item"></app-house-type-com>
    </div>
    <app-house-title-item [titleId]="'house-base-info'" [titleName]="'楼盘基础信息'"></app-house-title-item>
    <app-house-base-info [houseInfo]="houseInfo"></app-house-base-info>

    <app-house-title-item [titleId]="'house-advatage-info'" [titleName]="'楼盘优势'"></app-house-title-item>
    <app-house-advantage-info [houseInfo]="houseInfo"></app-house-advantage-info>

    <app-house-title-item [titleId]="'area-other-info'" [titleName]="'周边配套'"></app-house-title-item>
    <app-hous-other-area [houseInfo]="houseInfo"></app-hous-other-area>

    <app-house-title-item [titleId]="'guess-your-like'" [titleName]="'猜你喜欢'"></app-house-title-item>

    <app-swiper-content [houseList]="houseList" [swiperClass]="'detail-house-like-content'"></app-swiper-content>
    <span class="mz">
      免责声明:&nbsp;本网站楼盘信息目的在于为用户提供参考信息，实际以政府部门等级为准，请谨慎核查。
    </span>
  </div>




  <nz-modal [(nzVisible)]="isVisible" nzWrapClassName="vertical-center-modal" [nzTitle]="modelTitle" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <form nz-form [formGroup]="validateForm" class="login-form">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixUser">
            <input type="text" nz-input formControlName="userName" placeholder="姓名">
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">姓名不能为空</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixLock">
            <input type="number" nz-input formControlName="phone" placeholder="手机号码">
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('phone').dirty && validateForm.get('phone').errors">请输入正确的11位手机号码</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>
</section>

<ng-template #prefixUser><i class="iconfont icon-yonghu3"></i></ng-template>
<ng-template #prefixLock><i class="iconfont icon-icon_Phone"></i></ng-template>
