.njyf-nav {
  background: #fff;
  padding: 20px 0 20px 0;
  position: relative;
  .nav-content {
    display: flex;
    position: relative;
    line-height: 30px;
    .njyf-name {
      font-size: 30px;
      color: #0690D2;
      margin-left: 8%;
    }
    .area {
      margin-left: 20px;
      height: 25px;
      margin-top: 5px;
      padding: 8px;
      font-size: 14px;
      line-height: 8px;
      border-radius:3px;
      border:1px solid rgba(151,151,151,1)
    }
    .njyf-nav-list {
      margin-left: 12%;
      li {
        display: inline-block;
        cursor: pointer;
      }
      li:not(:first-child) {
        margin-left: 30px;
      }
      .isactive {
        color: #0690D2;
      }
    }
    .tel-content {
      position: absolute;
      right: 8%;
      .kf-tel {
        color: #0891D3;
      }
    }
  }
}
