<div class="footer-component">
  <div class="top-content">
    <ul class="footer-nav">
      <li class="footer-nav-item" (click)="goAboutUs()">关于我们</li>
      <!--<li class="footer-nav-item" (click)="info()">联系我们</li>-->
      <li class="footer-nav-item" (click)="showModal()">加入我们</li>
    </ul>
    <div class="enterprise-tel">
      <!--<span>企业服务热线: 13770558245</span>-->
    </div>
  </div>
  <div class="center-content">
    <div class="enterprise-info">南京云锋网络科技有限公司</div>
    <!--<div class="enterprise-area">地址: 南京市秦淮区中山南路101号金銮大厦7楼</div>-->
  </div>
  <div class="bottom-content">
    备案号:苏ICP备18068371号-1
  </div>

  <nz-modal [(nzVisible)]="isVisible" nzWrapClassName="vertical-center-modal" [nzTitle]="'加入我们'" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <form nz-form [formGroup]="validateForm" class="login-form">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixUser">
            <input type="text" nz-input formControlName="userName" placeholder="姓名">
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">姓名不能为空</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixLock">
            <input type="number" nz-input formControlName="phone" placeholder="手机号码">
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('phone').dirty && validateForm.get('phone').errors">请输入正确的11位手机号码</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>

</div>

<ng-template #prefixUser><i class="iconfont icon-yonghu3"></i></ng-template>
<ng-template #prefixLock><i class="iconfont icon-icon_Phone"></i></ng-template>
