<div class="footer-component">
  <div class="top-content">
    <ul class="footer-nav">
      <li class="footer-nav-item">关于我们</li>
      <li class="footer-nav-item">联系我们</li>
      <li class="footer-nav-item">加入我们</li>
    </ul>
    <div class="enterprise-tel">
      <span>企业服务热线: 13770558245</span>
    </div>
  </div>
  <div class="center-content">
    <div class="enterprise-info">南京云锋网络科技有限公司</div>
    <div class="enterprise-area">地址: 南京市秦淮区中山南路101号金銮大厦7楼</div>
  </div>
  <div class="bottom-content">
    备案号:苏ICP备18068371号-1
  </div>

</div>
